body {margin:0px;padding:0px;border:0px}

.Menu_Image, .Menu_Image_Disabled{overflow:hidden;width:16px;height:16px;margin:2px;background-repeat: no-repeat;}
.Menu_Image img, .Menu_Image_Disabled img{position: relative;}
.Menu_Image_Disabled img {FILTER:gray}

table.Menu_Box {border:2px outset #ffffff;background-color:#D4D0C8}
td.Menu_Box {padding:2px 4px 2px 2px;}

td.MouseOver {height:20px;border:0px;padding:0px;background-color:#0A246A;cursor:default;}
td.MouseOver td{color:#ffffff}
td.MouseOver .Menu_Image_TD {border-width:1px;border-style:solid;border-color:#FFFFFF #808080 #808080 #FFFFFF;background-color:#D4D0C8}
td.MouseOver .Menu_Image {margin:1px}
td.MouseOver .Menu_Label {padding-left:2px;border-left:1px solid #D4D0C8}


td.MouseOut,td.MouseDisabled {height:20px;border:0px;padding:0px;cursor:default;}


td.Menu_Label, td.Menu_Label_Disabled {white-space: nowrap;padding-left:3px;vertical-align:middle;padding-right:2px}
td.Menu_Label_Disabled {
color:#808080;
filter:dropshadow(color=#ffffff,offx=1,offy=1);
}

td.Menu_Sep {padding:1px 0px 1px 12px;}
table.Menu_Sep  {width:100%;height:1px;border-top:1px solid #808080;background-color:#ffffff}